[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
sphinx = "*"

[packages]
rare_events = {editable = true,path = "."}
numpy = "*"
pandas = "*"
scikit-learn = "*"
jupyter = "*"
matplotlib = "*"
tqdm = "*"

[requires]
python_version = "3.7"
